
ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
  background-color: #1b2538;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
  /*background-color: #a9bce2;*/
  background-color: #1B73BA;
}
ul.topnav li a.active {
	background-color: #1B73BA;
}
ul.topnav li.right {
	float: right;
}
nav {
  margin-bottom: 4%;
  border-top: solid 5px #1B73BA;
  /*border-bottom: solid 5px #1B73BA;*/
  margin-left: -4%;
  margin-right: -4%;
}

/*見出し系*/
h2 {
  background: #1d1d1d;
  border-top: 2px solid #1B73BA;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  box-sizing: border-box;
  color: #1B73BA;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 10px 15px 10px;
  font-family: 'Noto Sans JP', sans-serif;
}
h1 {
  color: #1B73BA;
  /*
  text-shadow: 2px 2px 0 #fff,
               -2px 2px 0 #fff,
               2px -2px 0 #fff,
               -2px -2px 0 #fff;
  */
  margin-left: -4%;
  margin-right: -4%;
  margin-top: -3%;
}
h3 {
  color: #1B73BA;
  border-bottom: 2px solid rgb(68, 71, 73);
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
  padding-bottom: 5px;
  font-family: 'Noto Sans JP', sans-serif;
}
h4 {
  border-left: 2px solid #1B73BA;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px;
  padding-left: 5px;
  font-family: 'Noto Sans JP', sans-serif;
}

/*プログラムコード*/
code {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 14px
}

/* 背景 */
html {
  background-color: #191919;
}

body {
  background-color: #111111;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3% 3%;
  height: 100%;
  color: #FBFFEE;
}


/* 箇条書き*/
ul li {
  line-height: 2
}

/*フッター*/
footer{
  background-color: #191919;
  margin-left: -4%;
  margin-right: -4%;
  margin-bottom: -9%;
  margin-top: 2%;
}

/*画像サイズ調整*/
img {
  max-width: 60%;
  height: auto;
}

pre {
  max-width: 100%;
}

/*～へ行く*/
.goto {
  text-align: center;
  max-width: 100%;
  margin-left: -4%;
  margin-right: -4%;
  padding-left: 25%;
  padding-right: 25%;
}

/*テーブル*/
table {
  border: 1px solid #ddd;
  width: 100%;
  text-align: left;
}
td, th {
  padding: 2px 2px;
  text-align: center;
}
thead tr {
  background-color: #191919;
}
thead tr th {
  color: #1B73BA;
  text-align: center;
}
tfoot {
  border-top: 1px solid #ddd;
}
tbody tr th {
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}
tbody tr:nth-of-type(2n) {
  background: #191919;
}

.table {
  padding-left: 5%;
  padding-right: 5%;
}

/*リンク*/
a {
  text-decoration:none;
  color: #6EDEFF;
}
a:hover {
  text-decoration:underline;
}

a:visited {
  text-decoration:none;
  color: #6EDEFF;
}

/*pullreq by ek*/