/* === ここからメニューバー === */
header{
    /* 横幅を画面いっぱいにする */
    width: 100%;

    /* 上下の空白 */
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    /* 背景色 */
    background-color: var(--black-1);

    /* 文字色 */
    color: var(--white-1);

    /* 高さ */
    min-height: 4rem;
}

.bar-item-left, .bar-logo{
    text-align: center;
    list-style: none;

    /* マウスの形状を変える*/
    cursor: pointer;

    /* 左右に空白を作る */
    padding-left: 0.1%;
    padding-right: 0.1%;


    /* 選択を無効化 */
    user-select: none;
}

.bar-item-left > a, .bar-logo > a{
    color: var(--main-white);
    text-decoration: none;
}

/* クリックされたときの色 */
.bar-item-left:active, .bar-logo:active{
    /* 文字色を設定 */
    color: var(--red-1);

    /* 選択を無効化 */
    user-select: none;
}


/* 現在選択されているディストロ */
.currentdistro{
    background-color: var(--black-2);
}
/* === ここまでメニューバー === */



/* === ここから本文 === */
main a{
    text-decoration: none;
    color: blue;
}
/* === ここまで本文 === */



/* === ここから全体 === */
body{
    min-height: 100vh;
}
/* === ここまで全体 === */



/* === ここからフッター === */
footer{
    color: var(--white-1);
    background-color: var(--black-1);
    width: 100%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;

    position: fixed;
    bottom: 0;
}
#counter > img{
    margin-left: auto;
}
/* === ここまでフッター === */


/* === ここから目次 === */
#index li{
    list-style: none;

}

#index ul{
    padding-left: 10px;
}
#index  a{
    text-decoration: none;
}
#index  a:visited{
    color: blue;
}
/* === ここまで目次 === */

/* === ここから関連ページ === */
#relation_page a{
    text-decoration: none;
    color: blue;
}
/* === ここまで関連ページ === */

/* ここから画像 */
main img{
    width: 50%;
    display: inline-block;
    margin-right: auto;
}
/* ここまで画像 */
