/* === ここからメニューバー === */
.bar-logo{
    font-size: medium;
    font-weight: 900;
    margin-right: 2%;
}

.description{
    font-size: small;
    text-align: center;
}

#bar-container{
    justify-content: space-between;

    /* 回り込み解除 */
    clear: both;

    text-align: center;

    width: 100%;
    padding-left: 0;

    /* 初期状態で消す */
    display: none;
}

.hide-menu{
    display: none !important;
}

.show-menu{
    display: inline-block !important;
}

#header{
    position: fixed;
    top: 0;
    z-index: 1000;
}

#open-sp-menu{
    position: fixed;
    top:0;
    left: 0;
    padding-top: 1%;
    padding-left: 1%;
    z-index: 1100;
    color: white;
}
/* === ここまでメニューバー === */


/* === ここからサイドメニュー === */
#sidemenu-right{
 display: none;
}
/* === ここまでサイドメニュー === */


/* === ここから本文 === */
main{
    /* メインコンテンツの横の余白 */
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
}

main p{
    line-height: 2;
    margin-bottom: 1em;
}

h2 {
    position: relative;
    padding: 1rem .5rem;
    z-index: 0;
  }
  
h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    /*background-image: linear-gradient(to left, #2af598 0%, #009efd 100%); */
    background-color: var(--green-1);
}
/* === ここまで本文 === */