/* === ここからメニューバー === */
.bar-logo{
    font-size: medium;
    font-weight: 900;
    margin-right: 2%;
}

.description{
    font-size: small;
    text-align: center;
}

#bar-container{
    justify-content: space-between;

    /* 回り込み解除 */
    clear: both;

    text-align: center;

    width: 100%;
    padding-left: 0;

    /* 初期状態で消す */
    display: none;
}

.hide-menu{
    display: none !important;
}

.show-menu{
    display: inline-block !important;
}

#header{
    position: fixed;
    top: 0;
}

#open-sp-menu{
    position: fixed;
    top:0;
    left: 0;
    padding-top: 1%;
    padding-left: 1%;
    z-index: 1000;
    color: white;
}
/* === ここまでメニューバー === */


/* === ここからサイドメニュー === */
#sidemenu-right{
 display: none;
}
/* === ここまでサイドメニュー === */


/* === ここから本文 === */
main{
    /* メインコンテンツの横の余白 */
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
}
/* === ここまで本文 === */