*{
    --old-red-1: #e74c3c;
    --old-black-1: #2c3e50;
    --old-black-2: #576574;
    --old-white-1: #ecf0f1;
    --old-green-1: #1abc9c;

    --gray-1: #191919;
    --gray-2: #1d1d1d;
    --black-1: #111111;
    --blue-1: #1b2538;
    --skyblue-1: #1b73b1;
    --skyblue-2: #54bebb;
    --white-1: #fbffee;
    --pink-1: #e84393;


}