body{
    margin: 0;
    min-width: 320px;
}

html{
    background-color: white;
    color: black;
}

tr{
    width: 50%;
}

td{
    background-color: blue;
    margin: 50px;

    width: 100px;
    height: 100px;
    
    font-size: 20px;
    line-height: 20px;
}