/* 全体の見た目 */
body{
    margin: 0; /* 外側の空白を0にする */
    min-width: 600px; /* 横幅を指定*/

    /* 左右を中央揃え */
    text-align: center;
}

html{
    background-color: white; /* 背景色を白にする */
    color: black; /* 文字色を黒にする */
}

/* ボックス1つ1つの見た目 */
#maintable td{
    background-color: #b5f7f3; /* 背景の色を青に設定 */
    color: orange; /* 文字の色をオレンジにする*/
    font-weight: bolder; /* 文字を太くする*/

    width: 125px; /* ボックスの幅を画面のドット100個に設定 */
    height: 125px; /* ボックスの高さを画面のドット100個に設定 */
    
    font-size: 90px; /* ボックス内の文字の大きさをドット20個に設定 */
    line-height: 20px; /* ボックスの1行の高さをドット20個に設定 */

    text-align: center; /* 文字を左右中央に配置 */
}

/* 説明のみため*/
.description{
    font-size: 120%;
    display: none;
}

/* タイトルの見た目*/
.title{
    font-size: 400%; /* 文字を大きくする*/
    margin-block: 0; /*上下の余白を削除*/
}

.content-p{
    display: flex; /*横並びにする*/
    gap: 20px; /*横並びの余白を指定*/

    /*中央寄せ*/
    justify-content: center; 
    margin-right: auto;
    margin-left: auto;
}
