/* 全体の見た目 */
body{
    margin: 0; /* 外側の空白を0にする */
    min-width: 320px; /* 最初の横幅を設定 （これを設定しないとスマホで表示が崩れてしまう）*/
}

html{
    background-color: white; /* 背景色を白にする */
    color: black; /* 文字色を黒にする */
}

/* ゲーム本体の見た目 */

tr{
    width: 50%; /*ゲーム本体の横幅を画面の半分に設定*/
}

/* ボックス1つ1つの見た目 */
td{
    background-color: blue; /* 背景の色を青に設定 */
    margin: 50px; /* ボックス同士の空白を画面のドット50個分に設定 */

    width: 100px; /* ボックスの幅を画面のドット100個に設定 */
    height: 100px; /* ボックスの高さを画面のドット100個に設定 */
    
    font-size: 20px; /* ボックス内の文字の大きさをドット20個に設定 */
    line-height: 20px; /* ボックスの1行の高さをドット20個に設定 */
}