# このGitHub Actionsはhayao0819/hayao0819.github.io上でのみ実行されます
name: GitHub Page Deploy

on: 
  push:
    branches:
      - mirror

jobs: 
  # このjobはhayao0819/hayao.fascode.netからミラーされたときにHugoをビルドしてgh-pagesにデプロイします
  main-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0 

      - name: Setup
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.88.1'
          extended: true

      - name: Build for GitHub Pages
        run: bash ./update-blog.sh --baseURL https://hayao0819.github.io/blog/

      - name: Deploy for hayao0819.github.io
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./
