# このGitHub Actionsはhayao0819/hayao.fascode.net上でのみ実行されます
name: Hugo Build and Deploy

on: 
  push:
    branches:
      - main
      - master

jobs:
  # このjobはこのリポジトリのpublicとgh-pagesリポジトリにデプロイします
  gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0 

      # https://github.com/marketplace/actions/github-pages-action
      - name: Setup
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.88.1'
          extended: true

      - name: Build for fascode.net
        run: bash ./update-blog.sh

      - name: Deploy for fascode.net
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: public
          publish_dir: ./

      - name: Build for GitHub Pages
        run: bash ./update-blog.sh --baseURL https://hayao0819.github.io/hayao.fascode.net/blog/

      - name: Deploy for GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./

  # このjobはhayao0819/hayao0819.github.ioにリポジトリをミラーします
  mirror-repo:
    runs-on: ubuntu-latest
    if: github.repository == "Hayao0819/hayao.fascode.net"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0 

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.GH_PAGES_REPO_DEPLOY_KEY }}
          name: id_rsa # optional
          known_hosts: unnecessary

      - name: Commit files to hayao0819.github.io
        env: 
          GH_PAGES_REPO_DEPLOY_KEY: ${{ secrets.GH_PAGES_REPO_DEPLOY_KEY }}
        run: |
          echo "$GH_PAGES_REPO_DEPLOY_KEY" > ~/deploy_key.pem
          chmod 600 ~/deploy_key.pem
          git config --local user.email "hayao@fascode.net"
          git config --local user.name "hayao[bot]"
          git config pull.rebase false
          git config remote.origin.url "git@github.com:hayao0819/hayao0819.github.io.git"
          echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
          git add -A
          git checkout -b mirror
          git pull --allow-unrelated-histories origin mirror
          git push --force origin mirror
    